<template>
  <v-dialog transition="dialog-top-transition" max-width="600" v-model="createDialog">
      <template v-slot:default>
          <v-card>
              <v-toolbar color="primary" dark>Create New Employee</v-toolbar>
              <v-form v-model="form.valid" ref="createEmployee" @submit.prevent="createEmployee">
                  <v-card-text>
                      <v-alert border="left" color="red" dark v-if="hasError">
                          Something went wrong !<br />
                          <ul>
                              <li v-for="(error,ei) in errorMsgs" :key="ei">{{ error }}</li>
                          </ul>
                      </v-alert>
                      <v-row>
                          <v-col cols="12">
                            <v-combobox :loading="loading" :disabled="loading" outlined v-model="form.data.company" :items="data.company" label="Company" item-text="name" item-value="id" chips :comparator="comparator" :rules="form.rules.company" class="rounded-0" @change="fetchDepartment">
                                <template v-slot:selection="{ item }">
                                    <v-chip>
                                        <span>{{ item.name }}</span>
                                    </v-chip>
                                </template>
                            </v-combobox>
                          </v-col>
                          <v-col cols="12">
                            <v-combobox :loading="company_loading" :disabled="company_loading" outlined v-model="form.data.department" :items="data.department" label="Department" item-text="name" item-value="id" chips :comparator="comparator" :rules="form.rules.department" class="rounded-0">
                                <template v-slot:selection="{ item }">
                                    <v-chip>
                                        <span>{{ item.name }}</span>
                                    </v-chip>
                                </template>
                            </v-combobox>
                          </v-col>
                          <v-col cols="6">
                              <v-text-field label="First Name" v-model="form.data.first_name" :rules="form.rules.first_name" outlined dense class="rounded-0"></v-text-field>
                          </v-col>
                          <v-col cols="6">
                              <v-text-field label="Last Name" v-model="form.data.last_name" :rules="form.rules.last_name" outlined dense class="rounded-0"></v-text-field>
                          </v-col>
                          <v-col cols="6">
                              <v-text-field label="Phone Number" v-model="form.data.phone_number" :rules="form.rules.phone_number" outlined dense class="rounded-0"></v-text-field>
                          </v-col>
                          <v-col cols="12">
                              <v-text-field label="Middle" v-model="form.data.middle_name" outlined dense class="rounded-0"></v-text-field>
                          </v-col>
                          <v-col cols="12">
                              <v-textarea label="Complete Address" v-model="form.data.address" :rules="form.rules.address" outlined dense class="rounded-0"></v-textarea>
                          </v-col>
                      </v-row>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                      <v-btn text @click="createDialog = false">Close</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn type="submit" text color="success" :loading="form.loading" :disabled="form.loading || !form.valid">{{ form.loading ? 'Processing...' : 'Create' }}</v-btn>
                  </v-card-actions>
              </v-form>
          </v-card>
      </template>
  </v-dialog>
</template>

<script>
import axios from 'axios'
export default {

  data(){
    return {
      createDialog : true,
      data : {
        company : [],
        department : []
      },
      loading : true,
      form : {
        loading : false,
        valid : true,
        data : {
          company : null
        },
        rules : {
          company : [
            v => !!v || 'Company is a required field.'
          ],
          department : [
            v => !!v || 'Department is a required field.'
          ],
          first_name : [
            v => !!v || 'First name is a required field.'
          ],
          Last_name : [
            v => !!v || 'Last name is a required field.'
          ],
          phone_number : [
            v => !!v || 'Phone Number is a required field.'
          ],
          address : [
            v => !!v || 'Complete Address is a required field.',
            v => (v || '').length > 10 || 'Complete Address must be greater than 10 characters.'
          ]
        }
      },
      hasError : false,
      errorMsgs : [],
      company_loading : false
    }
  },

  watch : {
    createDialog(v){
      if(!v){
        this.$emit('updateDone', { update : false });
      }
    }
  },

  async created(){
    this.loading = true
    await axios.post('/functions/employees/list/companies')
      .then(res => {
        this.data.company = res.data.data
      })
    this.loading = false
  },

  methods : {

    comparator(a,b){
      return a.id === b.id
    },

    async fetchDepartment(){
      if(this.form.data.company != null){
        this.company_loading = true
        console.log(this.data)
        await axios.post('/functions/employees/list/departments', { company_id : this.form.data.company.id })
          .then(res => {
            this.data.department = res.data.data
          })
          .catch(err => {
            if(err.response.status == '400'){
              this.$jquery.each(err.response.data.errors, (index, value) => {
                this.$jquery.each(value,(index, value) => {
                  this.errorMsgs.push(value)
                })
              })
              this.hasError = true
            }
          })
        this.company_loading = false
      }
    },

    async createEmployee(){
      if(this.$refs.createEmployee.validate()){
        this.form.loading = true
        this.errorMsgs = []
        this.hasError = false
        await axios.post('/functions/employees/create', this.form.data)
          .then(res => {
            this.$emit('updateDone', { update : true });
          })
          .catch(err => {
            if(err.response.status == '400'){
              this.$jquery.each(err.response.data.errors, (index, value) => {
                this.$jquery.each(value,(index, value) => {
                  this.errorMsgs.push(value)
                })
              })
              this.hasError = true
            }
          })
        this.form.loading = false
      }
    },

  }

}
</script>
