<template>
  <div>
    <v-card flat>
      <v-toolbar flat>
        <v-spacer></v-spacer>
        <v-btn small text color="green" @click="createDialog = !createDialog">Create</v-btn>
        <v-btn small text color="orange" :to="{ name : 'employees.trashed' }">Trashed</v-btn>
        <addModal v-if="createDialog" v-on:updateDone="createDone" />
        <v-dialog transition="dialog-top-transition" max-width="600" v-model="updateDialog">
          <template v-slot:default>
            <v-card>
              <v-toolbar color="primary" dark>Update&nbsp;<b>[{{ form.title }}]</b>&nbsp;Employee</v-toolbar>
              <v-form v-model="form.valid" ref="updateEmployee" @submit.prevent="updateEmployee">
                <v-card-text>
                  <v-alert border="left" color="red" dark v-if="hasError">
                      Something went wrong !<br />
                      <ul>
                          <li v-for="(error,ei) in errorMsgs" :key="ei">{{ error }}</li>
                      </ul>
                  </v-alert>
                  <v-row>
                    <v-col cols="12">
                      <v-combobox :loading="loading" :disabled="loading" outlined v-model="form.data.company" :items="data.company" label="Company" item-text="name" item-value="id" chips :comparator="comparator" :rules="form.rules.company" class="rounded-0" @change="fetchDepartment">
                          <template v-slot:selection="{ item }">
                              <v-chip>
                                  <span>{{ item.name }}</span>
                              </v-chip>
                          </template>
                      </v-combobox>
                    </v-col>
                    <v-col cols="12">
                      <v-combobox :loading="company_loading" :disabled="company_loading" outlined v-model="form.data.department" :items="data.department" label="Department" item-text="name" item-value="id" chips :comparator="comparator" :rules="form.rules.department" class="rounded-0">
                          <template v-slot:selection="{ item }">
                              <v-chip>
                                  <span>{{ item.name }}</span>
                              </v-chip>
                          </template>
                      </v-combobox>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field label="First Name" v-model="form.data.first_name" :rules="form.rules.first_name" outlined dense class="rounded-0"></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field label="Last Name" v-model="form.data.last_name" :rules="form.rules.last_name" outlined dense class="rounded-0"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field label="Middle" v-model="form.data.middle_name" outlined dense class="rounded-0"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-text-field label="Phone Number" v-model="form.data.phone_number" outlined dense class="rounded-0"></v-text-field>
                    </v-col>
                    <v-col cols="12">
                        <v-textarea label="Complete Address" v-model="form.data.complete_address" :rules="form.rules.complete_address" outlined dense class="rounded-0"></v-textarea>
                    </v-col>
                    <v-col cols="12" class="d-flex justify-center">
                      <v-switch inset v-model="form.data.status" :label="'Status : ' + ( form.data.status ? 'ACTIVE' : 'DEACTIVATED' )"></v-switch>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-btn text @click="updateDialog = false">Close</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn type="submit" text color="success" :loading="form.loading" :disabled="form.loading || !form.valid">{{ form.loading ? 'Processing...' : 'Update' }}</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </template>
        </v-dialog>
        <v-dialog transition="dialog-top-transition" max-width="400" v-model="deleteD.dialog">
          <template v-slot:default>
            <v-card>
              <v-toolbar color="red" dark>
                Delete&nbsp;<b>[{{ deleteD.data.name }}]</b>&nbsp;Employee
              </v-toolbar>
              <v-card-text class="pa-2 d-flex justify-center">
                  <v-switch inset v-model="deleteD.data.skip">
                    <template v-slot:[`label`]>
                      Do you want to skip trash ?&nbsp;<b>{{ deleteD.data.skip ? 'Yes' : 'No' }}</b>
                    </template>
                  </v-switch>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions class="pa-2">
                  <v-btn text @click="deleteD.dialog = false">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn text color="success" :loading="deleteD.loading" :disabled="deleteD.loading" @click="deleteEmployeeProcess()">{{ deleteD.loading ? 'Processing...' : 'Delete' }}</v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-toolbar>
      <v-card-text class="pa-3">
        <v-data-table hide-default-footer :page.sync="page" :loading="loading" :headers="headers" :items="list" item-key="id" class="elevation-0">
          <template v-slot:top>
              <v-toolbar class="elevation-0 px-1">
                  <v-text-field v-model="search.text" label="Search" class="mx-4" @keydown="typing"></v-text-field>
                  <v-spacer></v-spacer>
              </v-toolbar>
          </template>
          <template v-slot:[`item.name`]="{ item }">
            {{ item.first_name + ' ' + item.middle_name + ' ' + item.last_name }}
          </template>
          <template v-slot:[`item.status`]="{ item }">
            <span class="green--text" v-if="item.status === 0">ACTIVE</span>
            <span class="red--text" v-if="item.status === 1">DEACTIVATED</span>
          </template>
          <template v-slot:[`item.actions`]="props">
            <v-icon class="mr-1" :id="props.item.id" @click="openEditModal(props.item)">
              mdi-pencil
            </v-icon>
            <v-icon :id="props.item.id" @click="deleteEmployee(props.item, props.index)">
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
          <div class="text-center pt-2">
            <v-pagination v-model="page" :length="pageCount" color="#2d3270" :total-visible="itemsPerPage > 2 ? itemsPerPage : 5" @input="onPageChange"></v-pagination>
          </div>
      </v-card-text>
    </v-card>
  </div>
</template>


<script>
import axios from 'axios'
import addModal from './addModal.vue'
export default {

  middleware: 'auth',

  components : {
    addModal
  },

  data(){
    return {
      createDialog : false,
      loading : true,
      search: {
          text : null,
          timer : null,
          loading : false
      },
      headers : [
          { text: 'EMPLOYEE ID', sortable: false, align: 'center', value: 'id' },
          { text: 'COMPANY', sortable: false, align: 'center', value: 'company.name' },
          { text: 'DEPARTMENT', sortable: false, align: 'center', value: 'department.name' },
          { text: 'NAME', sortable: false, align: 'center', value: 'name' },
          { text: 'PHONE NUMBER', sortable: false, align: 'center', value: 'phone_number' },
          { text: 'ADDRESS', sortable: false, align: 'center', value: 'complete_address' },
          { text: 'STATUS', sortable: false, align: 'center', value: 'status' },
          { text: 'ACTIONS', sortable: false, align: 'center', value: 'actions' },
      ],
      list : [],
      page : 1,
      pageCount: 0,
      itemsPerPage: 1,
      updateDialog : false,
      data : {
        company : [],
        department : []
      },
      form : {
        loading : false,
        valid : true,
        title : '',
        data : {
          company : null,
          department : null
        },
        rules : {
          company : [
            v => !!v || 'Company is a required field.'
          ],
          department : [
            v => !!v || 'Department is a required field.'
          ],
          first_name : [
            v => !!v || 'First name is a required field.'
          ],
          Last_name : [
            v => !!v || 'Last name is a required field.'
          ],
          address : [
            v => !!v || 'Complete Address is a required field.',
            v => (v || '').length > 10 || 'Complete Address must be greater than 10 characters.'
          ]
        }
      },
      deleteD : {
        dialog : false,
        loading : false,
        data : {},
      },
      hasError : false,
      errorMsgs : []
    }
  },

  head () {
    return { title: 'Employees' }
  },

  async asyncData(){
    var list = [],
        company = []
    await axios.post('/functions/employees/list?page=1')
      .then(res => {
        list = res.data.data
      })
    await axios.post('/functions/employees/list/companies')
      .then(res => {
        company = res.data.data
      })
      return {
        itemsPerPage : list.per_page,
        page : list.current_page,
        pageCount : list.last_page,
        list : list.data,
        loading : false,
        data : {
          company : company
        }
      }
  },

  methods : {

    comparator(a,b){
      return a.id === b.id
    },

    async onPageChange(){
      if(this.search.text == null || this.search.text == ''){
          this.refreshList()
      }else{
          this.searchEmployee()
      }
    },

    async createDone(callback){
      if(callback.update){
        this.refreshList(1)
      }
      this.createDialog = false
    },

    async typing(){
        if(this.search.text != null || this.search.text != ''){
            clearTimeout(this.search.timer)
            this.search.timer = setTimeout(()=>{
                this.page = 1
                this.searchEmployee()
            },800)
        }else{
            this.page = 1
            this.refreshList(1)
        }
    },

    async searchEmployee(){
      if(this.search.text != null || this.search.text != ''){
        this.loading = true
        await axios.post('/functions/employees/search?page='+this.page, { keyword : this.search.text })
          .then(res => {
            this.itemsPerPage = res.data.data.per_page
            this.page = res.data.data.current_page
            this.pageCount = res.data.data.last_page
            this.list = res.data.data.data
          })
        this.loading = false
      }else{
        this.page = 1
        this.refreshList(1)
      }
    },

    async deleteEmployee(item,index){
      this.deleteD.data = {
        id : item.id,
        name : item.first_name + ' ' + item.middle_name + ' ' + item.last_name,
        skip : false,
        index : index
      }
      this.deleteD.dialog = true
    },

    async deleteEmployeeProcess(){
      this.deleteD.loading = true
      await axios.post('/functions/employees/delete', this.deleteD.data)
        .then(res => {
          console.log('Employee has been deleted')
          this.$swal.fire({
            title : '<b>'+this.deleteD.data.name+'</b> has been deleted!',
            icon : 'success',
            html : 'List will be refreshed upon closing this alert.'
          }).then(() => {
            this.deleteD.dialog = false
            this.page = 1
            this.refreshList()
          })
        })
        .catch(err => {
          if(err.response.status == '400'){
            this.$jquery.each(err.response.data.errors, (index, value) => {
              this.$jquery.each(value,(index, value) => {
                this.errorMsgs.push(value)
              })
            })
            this.hasError = true
          }
        })
      this.deleteD.loading = false
    },

    async openEditModal(item){
      this.form.title = item.first_name + ' ' + item.middle_name + ' ' + item.last_name
      this.form.data = Object.assign({},item)
      this.form.data.status = item.status === 0 ? true : false
      this.hasError = false
      this.errorMsgs = []
      this.updateDialog = true
    },

    async refreshList(page){
      this.loading = true
      await axios.post('/functions/employees/list?page='+this.page)
        .then(res => {
          this.itemsPerPage = res.data.data.per_page
          this.page = res.data.data.current_page
          this.pageCount = res.data.data.last_page
          this.list = res.data.data.data
        })
      this.loading = false
    },

    async updateEmployee(){
      if(this.$refs.updateEmployee.validate()){
        this.form.loading = true
        this.hasError = false
        this.errorMsgs = []
        await axios.post('/functions/employees/update', this.form.data)
          .then(res => {
            this.refreshList(1)
            this.updateDialog = false
          })
          .catch(err => {
            if(err.response.status == '400'){
              this.$jquery.each(err.response.data.errors, (index, value) => {
                this.$jquery.each(value,(index, value) => {
                  this.errorMsgs.push(value)
                })
              })
              this.hasError = true
            }
          })
        this.form.loading = false
      }
    }

  }

}
</script>
