<template>
  <div class="px-5" style="background : #e2e2e2; width : 100vw;position : relative;overflow : hidden">
    <v-row justify="center" align="center" style="height : 100vh">
        <v-card min-width="350px" max-width="450px">
          <v-card-title class="elevation-1">
            {{ $t('verify_email') }}
          </v-card-title>
          <v-card-text class="pa-5">
            <template v-if="success">
              <v-alert border="left" color="green" dark type="success" >
                {{ status }}<br>
                <router-link :to="{ name: 'login' }" class="btn btn-primary">
                  {{ $t('login') }}
                </router-link>
              </v-alert>
            </template>
            <template v-else>
              <v-alert border="left" color="red" dark type="success" >
                {{ status || $t('failed_to_verify_email') }}<br>
                <router-link :to="{ name: 'verification.resend' }" class="small">
                  {{ $t('resend_verification_link') }}
                </router-link>
              </v-alert>
            </template>
          </v-card-text>
        </v-card>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios'

const qs = params => Object.keys(params).map(key => `${key}=${params[key]}`).join('&')

export default {

  layout : 'simple',

  middleware: 'guest',

  metaInfo () {
    return { title: this.$t('verify_email') }
  },

  async asyncData ({ params, query }) {
    try {
      const { data } = await axios.post(`/email/verify/${params.id}?${qs(query)}`)

      return { success: true, status: data.status }
    } catch (e) {
      return { success: false, status: e.response.data.status }
    }
  }
}
</script>
