<template>
  <div>
    <v-row>
      <v-col cols="12" xl="5" lg="5">
        <v-card class="rounded-0">
          <v-toolbar color="primary" dark class="rounded-0">
            Send an SMS
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-form>
            <v-card-text class="pa-3" style="height : 70vh; overflow : auto scroll">
              <v-row>
                <v-col cols="12">
                  <v-select v-model="form.data.send_by" label="Send To" :items="selections" item-value="value" item-text="text" outlined class="rounded-0" dense @change="fetchDatas"></v-select>
                </v-col>
                <v-col cols="12" class="d-flex justify-center align-center">
                      <v-badge v-if="form.data.send_by != null && form.data.selected.length <= 0" bordered color="green" overlap :content="form.data.selected.length" :value="form.data.selected.length">
                        <v-btn color="green" :dark="!sending" :disabled="sending" tile class="rounded-0" @click="sendSMStoAll" :loading="sending">SEND TO ALL {{ form.data.send_by }}</v-btn>
                      </v-badge>
                      <v-badge v-if="form.data.selected.length" bordered color="green" overlap :content="form.data.selected.length" :value="form.data.selected.length">
                        <v-btn color="green" :dark="!sending" :disabled="form.data.selected.length <= 0 || sending" tile class="rounded-0" @click="sendSMS" :loading="sending">SEND</v-btn>
                      </v-badge>
                </v-col>
                <v-col cols="12" class="d-flex justify-center align-center mb-4" v-if="form.fetch_loading">
                  <v-progress-circular indeterminate color="primary" ></v-progress-circular>
                </v-col>
                <v-col cols="12" v-if="!form.fetch_loading && list.length > 0">
                  <v-row>
                    <template v-if="form.data.send_by == 'department'">
                      <v-col cols="12" xl="6" lg="6" v-for="(l,li) in list" :key="li">
                        <v-checkbox v-model="form.data.selected" :label="l.name+' ['+l.company.name+']'" :value="l.id"></v-checkbox>
                      </v-col>
                    </template>
                    <template v-else>
                      <v-col cols="12" xl="6" lg="6" v-for="(l,li) in list" :key="li">
                        <v-checkbox v-model="form.data.selected" :label="l.first_name+' '+l.middle_name+' '+l.last_name" :value="l.id"></v-checkbox>
                      </v-col>
                    </template>
                  </v-row>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions class="justify-center">
              <v-btn v-if="list.length > 0" outlined class="rounded-0" @click="loadMore" :loading="form.load_more" :disabled="form.load_more || form.no_more">{{ form.load_more ? 'Loading...' : form.no_more ? 'No more data available' : 'LOAD MORE' }}</v-btn>
            </v-card-actions>
          </v-form>
        </v-card>
      </v-col>
      <v-col cols="12" xl="7" lg="7">
        <v-card class="rounded-0">
          <v-toolbar color="primary" dark class="rounded-0">
            LOGS
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text v-if="!main_loading" class="pa-3" style="height : 70vh; overflow : auto scroll">
            <v-list>
              <template v-for="(log,i) in logs">
                <v-divider></v-divider>
                <v-list-item two-line class="border-1" :key="i">
                    <v-list-item-content>
                        <v-list-item-title>{{ log.name }}</v-list-item-title>
                        <v-list-item-subtitle v-html="log.description"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
              </template>
            </v-list>
          </v-card-text>
          <v-card-text v-else class="pa-3 d-flex justify-center align-center" style="height : 70vh; overflow : hidden">
            <v-progress-circular indeterminate color="primary" ></v-progress-circular>
          </v-card-text>
          <v-card-actions class="justify-center">
              <v-btn v-if="logs.length > 0" outlined class="rounded-0" @click="loadMoreLogs" :loading="load_more_logs" :disabled="load_more_logs || logs_no_more">{{ load_more_logs ? 'Loading...' : logs_no_more ? 'No more data available' : 'LOAD MORE' }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios'
export default {

  middleware: 'auth',

  data(){
    return {
      selections : [
        {
          text : 'Department',
          value : 'department'
        },
        {
          text : 'Employees',
          value : 'employees'
        }
      ],
      sending : false,
      form : {
        loading : false,
        fetch_loading : false,
        load_more : false,
        no_more : false,
        data : {
          send_by : null,
          selected : []
        }
      },
      list : [],
      hasError : false,
      errorMsgs : [],
      logs : [],
      main_loading : true,
      load_more_logs : false,
      logs_no_more : false
    }
  },

  head () {
    return { title: this.$t('home') }
  },

  async asyncData(){
    var logs;
    await axios.post('/functions/sms/logs')
      .then(res => {
        logs = res.data.data
      })
    return {
      logs : logs,
      main_loading : false
    }
  },

  methods : {

    async fetchDatas(){
      this.form.fetch_loading = true
      await axios.post('/functions/sms/fetch_data', { type : this.form.data.send_by })
        .then(res => {
          this.list = res.data.data
        })
        .catch(err => {
            if(err.response.status == '400'){
              this.$jquery.each(err.response.data.errors, (index, value) => {
                this.$jquery.each(value,(index, value) => {
                  this.errorMsgs.push(value)
                })
              })
              this.hasError = true
            }
        })
      this.form.fetch_loading = false
    },

    async loadMore(){
      this.form.load_more = true
      this.form.no_more = false
      await axios.post('/functions/sms/load_more', { type : this.form.data.send_by, last_id : this.list[this.list.length - 1].id })
        .then(res => {
          if(res.data.data.length > 0){
            this.list = this.list.concat(res.data.data)
          }else{
            this.form.no_more = true
            setTimeout(()=>{
              this.form.no_more = false
            },2500)
          }
        })
        .catch(err => {
            if(err.response.status == '400'){
              this.$jquery.each(err.response.data.errors, (index, value) => {
                this.$jquery.each(value,(index, value) => {
                  this.errorMsgs.push(value)
                })
              })
              this.hasError = true
            }
        })
      this.form.load_more = false
    },

    async sendSMS(){
      this.sending = true
      await axios.post('/functions/sms/send_sms', { type : this.form.data.send_by, selected : this.form.data.selected })
        .then(res => {
          this.$swal.fire({
            title : 'SMS Sent!',
            html : res.data.data,
            icon : 'success'
          }).then(() => {
            this.form.data.selected = []
            this.form.data.send_by = null
            this.list = []
            this.reloadLogs()
          })
        })
        .catch(err => {
            if(err.response.status == '400'){
              this.$jquery.each(err.response.data.errors, (index, value) => {
                this.$jquery.each(value,(index, value) => {
                  this.errorMsgs.push(value)
                })
              })
              this.hasError = true
            }
        })
      this.sending = false
    },

    async sendSMStoAll(){
      this.sending = true
      await axios.post('/functions/sms/send_sms_to_all', { type : this.form.data.send_by, selected : 'all' })
        .then(res => {
          this.$swal.fire({
            title : 'SMS Sent!',
            html : res.data.data,
            icon : 'success'
          }).then(() => {
            this.form.data.selected = []
            this.form.data.send_by = null
            this.list = []
            this.reloadLogs()
          })
        })
        .catch(err => {
            if(err.response.status == '400'){
              this.$jquery.each(err.response.data.errors, (index, value) => {
                this.$jquery.each(value,(index, value) => {
                  this.errorMsgs.push(value)
                })
              })
              this.hasError = true
            }
        })
      this.sending = false
    },

    async reloadLogs(){
      this.main_loading = true
      await axios.post('/functions/sms/logs')
        .then(res => {
          this.logs = res.data.data
        })
      this.main_loading = false
    },

    async loadMoreLogs(){
      this.load_more_logs = true
      this.logs_no_more = false
      await axios.post('/functions/sms/more_logs', { last_id : this.logs[this.logs.length - 1].id })
        .then(res => {
          if(res.data.data.length > 0){
            this.logs = this.logs.concat(res.data.data)
          }else{
            this.logs_no_more = true
            setTimeout(()=>{
              this.logs_no_more = false
            },2500)
          }
        })
      this.load_more_logs = false
    }

  }

}
</script>
