<template>
  <div style="background : #e2e2e2; width : 100vw;position : relative;overflow : hidden">
    <v-row justify="center" align-content="center" align="center" style="min-height : 100%">
      <v-col cols="10" lg=6 xl=6 style="max-width : 500px">
        <center><v-img :src="require('~/assets/images/rad-logo.png')" contain class="mx-2 my-3" max-height="60" max-width="200"></v-img></center>
        <v-card color="rgba(255,255,255,0.4)">
          <v-card-title class="elevation-1 laravel">
            Developer Assessment Exam
          </v-card-title>
          <v-card-actions style="border-top : 2px solid #222">
            <v-spacer></v-spacer>
            <v-btn link class="mr-2" :to="{ name : 'login' }">LOGIN</v-btn>
            <v-btn link :to="{ name : 'register' }">REGISTER</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  layout: 'simple',

  middleware : [ 'guest' ],

  data: () => ({
    title: process.env.appName
  }),

  head () {
    return { title: this.$t('home') }
  },

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>

<style scoped>

</style>
