<template>
  <div class="px-5" style="background : #e2e2e2; width : 100vw;position : relative;overflow : hidden">
    <v-row justify="center" align="center" style="height : 100vh">
        <v-card min-width="350px" max-width="450px">
          <v-card-title class="elevation-1">
            {{ $t('reset_password') }}
          </v-card-title>
          <form @submit.prevent="reset" @keydown="form.onKeydown($event)">
            <v-card-text>
              <v-alert border="left" color="green" dark type="success" v-if="status != ''">
                {{ status }}<br>
                <router-link :to="{ name : 'login' }">Click here</router-link> to login.
              </v-alert>
              <v-alert border="left" color="red" dark type="error" v-if="errors_e.length">
                <ul>
                  <li v-for="(err,erri) in errors_e" :key="erri">{{ err }}</li>
                </ul> 
              </v-alert>
              <v-row>
                <v-col cols=12>
                  <v-text-field class="rounded-0" label="Email" outlined dense v-model="form.email"></v-text-field>
                </v-col>
                <v-col cols=12>
                  <v-text-field class="rounded-0" type="password" label="Password" outlined dense v-model="form.password"></v-text-field>
                </v-col>
                <v-col cols=12>
                  <v-text-field class="rounded-0" type="password" label="Confirm Password" outlined dense v-model="form.password_confirmation"></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-btn small text exact :to="{ name : 'welcome' }">
                CANCEL
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn small type="submit" :loading="loading" class="rounded-0">
                {{ $t('reset_password') }}
              </v-btn>
            </v-card-actions>
          </form>
        </v-card>
    </v-row>
  </div>
</template>

<script>
import Form from 'vform'

export default {

  layout : 'simple',

  middleware: 'guest',

  data: () => ({
    status: '',
    form: new Form({
      token: '',
      email: '',
      password: '',
      password_confirmation: ''
    }),
    errors_e : [],
    loading : false

  }),

  head () {
    return { title: this.$t('reset_password') }
  },

  created () {
    this.form.email = this.$route.query.email
    this.form.token = this.$route.params.token
  },

  methods: {
    async reset () {
      this.loading = true
      this.status = ''
      this.errors_e = []
      await this.form.post('/password/reset').then(({ data }) => {
        this.status = data.status
        this.form.reset()
      }).catch(err => {
        this.$jquery.each(err.response.data, (i,v) => {
          this.errors_e.push(v)
        })
      })
      this.loading = false
    }
  }
}
</script>
