<template>
  <v-dialog transition="dialog-top-transition" max-width="600" v-model="createDialog">
      <template v-slot:default>
          <v-card>
              <v-toolbar color="primary" dark>Create New Company</v-toolbar>
              <v-form v-model="form.valid" ref="createCompany" @submit.prevent="createCompany">
                  <v-card-text>
                      <v-alert border="left" color="red" dark v-if="hasError">
                          Something went wrong !<br />
                          <ul>
                              <li v-for="(error,ei) in errorMsgs" :key="ei">{{ error }}</li>
                          </ul>
                      </v-alert>
                      <v-row>
                          <v-col cols="12">
                            <v-combobox :loading="loading" :disabled="loading" outlined v-model="form.data.company" :items="data.company" label="Company" item-text="name" item-value="id" chips :comparator="comparator" class="rounded-0">
                                <template v-slot:selection="{ item }">
                                    <v-chip>
                                        <span>{{ item.name }}</span>
                                    </v-chip>
                                </template>
                            </v-combobox>
                          </v-col>
                          <v-col cols="12">
                              <v-text-field label="Name" v-model="form.data.name" :rules="form.rules.name" outlined dense class="rounded-0"></v-text-field>
                          </v-col>
                          <v-col cols="12">
                              <v-textarea label="Description" v-model="form.data.description" :rules="form.rules.description" outlined dense class="rounded-0"></v-textarea>
                          </v-col>
                      </v-row>
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                      <v-btn text @click="createDialog = false">Close</v-btn>
                      <v-spacer></v-spacer>
                      <v-btn type="submit" text color="success" :loading="form.loading" :disabled="form.loading || !form.valid">{{ form.loading ? 'Processing...' : 'Create' }}</v-btn>
                  </v-card-actions>
              </v-form>
          </v-card>
      </template>
  </v-dialog>
</template>

<script>
import axios from 'axios'
export default {

  data(){
    return {
      createDialog : true,
      data : {
        company : []
      },
      loading : true,
      form : {
        loading : false,
        valid : true,
        data : {
          company : null
        },
        rules : {
          name : [
            v => !!v || 'Company name is a required field.'
          ],
          description : [
            v => !!v || 'Company Description is a required field.',
            v => (v || '').length > 10 || 'Company Description must be greater than 10 characters.'
          ]
        }
      },
      hasError : false,
      errorMsgs : []
    }
  },

  watch : {
    createDialog(v){
      if(!v){
        this.$emit('updateDone', { update : false });
      }
    }
  },

  async created(){
    this.loading = true
    await axios.post('/functions/departments/list/companies')
      .then(res => {
        this.data.company = res.data.data
      })
    this.loading = false
  },

  methods : {

    comparator(a,b){
      return a.id === b.id
    },

    async createCompany(){
      this.form.loading = true
      this.errorMsgs = []
      this.hasError = false
      await axios.post('/functions/departments/create', this.form.data)
        .then(res => {
          this.$emit('updateDone', { update : true });
        })
        .catch(err => {
          if(err.response.status == '400'){
            this.$jquery.each(err.response.data.errors, (index, value) => {
              this.$jquery.each(value,(index, value) => {
                this.errorMsgs.push(value)
              })
            })
            this.hasError = true
          }
        })
      this.form.loading = false
    },

  }

}
</script>
