<template>
  <div>
    <v-card flat>
      <v-toolbar flat>
        <v-btn small text color="orange" :to="{ name : 'departments' }" exact>
          <v-icon>mdi-arrow-left-bold</v-icon>
          Main List
        </v-btn>
        <v-dialog transition="dialog-top-transition" max-width="400" v-model="deleteD.dialog">
          <template v-slot:default>
            <v-card>
              <v-toolbar color="red" dark>
                Delete&nbsp;<b>[{{ deleteD.data.name }}]</b>&nbsp;Department
              </v-toolbar>
              <v-card-text class="pa-2 d-flex justify-center">
                  This Department will be deleted permanently.
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions class="pa-2">
                  <v-btn text @click="deleteD.dialog = false">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn text color="success" :loading="deleteD.loading" :disabled="deleteD.loading" @click="deleteDepartmentProcess()">{{ deleteD.loading ? 'Processing...' : 'Delete' }}</v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
        <v-dialog transition="dialog-top-transition" max-width="400" v-model="restoreD.dialog">
          <template v-slot:default>
            <v-card>
              <v-toolbar color="orange" dark>
                Restore&nbsp;<b>[{{ restoreD.data.name }}]</b>&nbsp;Department
              </v-toolbar>
              <v-card-text class="pa-2 d-flex justify-center">
                  This Department will be restored after the process.
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions class="pa-2">
                  <v-btn text @click="restoreD.dialog = false">Cancel</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn text color="success" :loading="restoreD.loading" :disabled="restoreD.loading" @click="restoreDepartmentProcess()">{{ restoreD.loading ? 'Processing...' : 'Restore' }}</v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </v-toolbar>
      <v-card-text class="pa-3">
        <v-data-table hide-default-footer :page.sync="page" :loading="loading" :headers="headers" :items="list" item-key="id" class="elevation-0">
          <template v-slot:top>
              <v-toolbar class="elevation-0 px-1">
                  <v-text-field v-model="search.text" label="Search" class="mx-4" @keydown="typing"></v-text-field>
                  <v-spacer></v-spacer>
              </v-toolbar>
          </template>
          <template v-slot:[`item.status`]="{ item }">
            <span class="green--text" v-if="item.status === 0">ACTIVE</span>
            <span class="red--text" v-if="item.status === 1">DEACTIVATED</span>
          </template>
          <template v-slot:[`item.actions`]="props">
            <v-icon class="mr-1" :id="props.item.id" @click="restoreDepartment(props.item, props.index)">
              mdi-refresh
            </v-icon>
            <v-icon :id="props.item.id" @click="deleteDepartment(props.item, props.index)">
              mdi-delete
            </v-icon>
          </template>
        </v-data-table>
          <div class="text-center pt-2">
            <v-pagination v-model="page" :length="pageCount" color="#2d3270" :total-visible="itemsPerPage > 2 ? itemsPerPage : 5" @input="onPageChange"></v-pagination>
          </div>
      </v-card-text>
    </v-card>
  </div>
</template>


<script>
import axios from 'axios'
export default {

  middleware: 'auth',

  components : {
  },

  data(){
    return {
      loading : true,
      search: {
          text : null,
          timer : null,
          loading : false
      },
      headers : [
          { text: 'COMPANY NAME', sortable: false, align: 'center', value: 'company.name' },
          { text: 'NAME', sortable: false, align: 'center', value: 'name' },
          { text: 'DESCRIPTION', sortable: false, align: 'center', value: 'description' },
          { text: 'STATUS', sortable: false, align: 'center', value: 'status' },
          { text: 'ACTIONS', sortable: false, align: 'center', value: 'actions' },
      ],
      list : [],
      page : 1,
      pageCount: 0,
      itemsPerPage: 1,
      deleteD : {
        dialog : false,
        loading : false,
        data : {},
      },
      restoreD : {
        dialog : false,
        loading : false,
        data : {},
      },
      hasError : false,
      errorMsgs : [],
      hasError_restore : false,
      errorMsgs_restore : []
    }
  },

  head () {
    return { title: 'Trashed Departments' }
  },

  async asyncData(){
    var list = []
    await axios.post('/functions/departments/trashed/list?page=1')
      .then(res => {
        list = res.data.data
      })
      return {
        itemsPerPage : list.per_page,
        page : list.current_page,
        pageCount : list.last_page,
        list : list.data,
        loading : false
      }
  },

  methods : {

    async onPageChange(){
      if(this.search.text == null || this.search.text == ''){
          this.refreshList()
      }else{
          this.searchDepartment()
      }
    },

    async typing(){
        if(this.search.text != null || this.search.text != ''){
            clearTimeout(this.search.timer)
            this.search.timer = setTimeout(()=>{
                this.page = 1
                this.searchDepartment()
            },800)
        }else{
            this.page = 1
            this.refreshList(1)
        }
    },

    async searchDepartment(){
      if(this.search.text != null || this.search.text != ''){
        this.loading = true
        await axios.post('/functions/departments/trashed/search?page='+this.page, { keyword : this.search.text })
          .then(res => {
            this.itemsPerPage = res.data.data.per_page
            this.page = res.data.data.current_page
            this.pageCount = res.data.data.last_page
            this.list = res.data.data.data
          })
        this.loading = false
      }else{
        this.page = 1
        this.refreshList(1)
      }
    },

    async deleteDepartment(item,index){
      this.deleteD.data = {
        id : item.id,
        name : item.name
      }
      this.deleteD.dialog = true
    },

    async deleteDepartmentProcess(){
      this.deleteD.loading = true
      await axios.post('/functions/departments/trashed/delete', this.deleteD.data)
        .then(res => {
          console.log('Department has been deleted')
          this.$swal.fire({
            title : '<b>'+this.deleteD.data.name+'</b> has been permanently deleted!',
            icon : 'success',
            html : 'List will be refreshed upon closing this alert.'
          }).then(() => {
            this.deleteD.dialog = false
            this.page = 1
            this.refreshList()
          })
        })
        .catch(err => {
          if(err.response.status == '400'){
            this.$jquery.each(err.response.data.errors, (index, value) => {
              this.$jquery.each(value,(index, value) => {
                this.errorMsgs.push(value)
              })
            })
            this.hasError = true
          }
        })
      this.deleteD.loading = false
    },

    async restoreDepartment(item,index){
      this.restoreD.data = {
        id : item.id,
        name : item.name
      }
      this.restoreD.dialog = true
    },

    async restoreDepartmentProcess(){
      this.restoreD.loading = true
      await axios.post('/functions/departments/trashed/restore', this.restoreD.data)
        .then(res => {
          console.log('Department has been restored.')
          this.$swal.fire({
            title : '<b>'+this.restoreD.data.name+'</b> has been restored!',
            icon : 'success',
            html : 'List will be refreshed upon closing this alert.'
          }).then(() => {
            this.restoreD.dialog = false
            this.page = 1
            this.refreshList()
          })
        })
        .catch(err => {
          if(err.response.status == '400'){
            this.$jquery.each(err.response.data.errors, (index, value) => {
              this.$jquery.each(value,(index, value) => {
                this.errorMsgs_restore.push(value)
              })
            })
            this.hasError_restore = true
          }
        })
      this.restoreD.loading = false
    },

    async refreshList(page){
      this.loading = true
      await axios.post('/functions/departments/trashed/list?page='+this.page)
        .then(res => {
          this.itemsPerPage = res.data.data.per_page
          this.page = res.data.data.current_page
          this.pageCount = res.data.data.last_page
          this.list = res.data.data.data
        })
      this.loading = false
    },

  }

}
</script>
